<div class="navbar" id="freecontainer" seed="1">
  <div class="bottonemini right next" onclick="next('freecontainer',10);" id="freecontainernext"></div>
  <div class="bottonemini left prev" onclick="prev('freecontainer',1);"  id="freecontainerprev" style="visibility:hidden"></div>
  <div class="navigator">
    <div id="freecontainerbutton1" class="bottonegoto active" onclick="gotoficha('freecontainer',10,1,1);"></div>
    <div id="freecontainerbutton2" class="bottonegoto" onclick="gotoficha('freecontainer',10,1,2);"></div>
    <div id="freecontainerbutton3" class="bottonegoto" onclick="gotoficha('freecontainer',10,1,3);"></div>
    <div id="freecontainerbutton4" class="bottonegoto" onclick="gotoficha('freecontainer',10,1,4);"></div>
    <div id="freecontainerbutton5" class="bottonegoto" onclick="gotoficha('freecontainer',10,1,5);"></div>
    <div id="freecontainerbutton6" class="bottonegoto" onclick="gotoficha('freecontainer',10,1,6);"></div>
    <div id="freecontainerbutton7" class="bottonegoto" onclick="gotoficha('freecontainer',10,1,7);"></div>
    <div id="freecontainerbutton8" class="bottonegoto" onclick="gotoficha('freecontainer',10,1,8);"></div>
    <div id="freecontainerbutton9" class="bottonegoto" onclick="gotoficha('freecontainer',10,1,9);"></div>
    <div id="freecontainerbutton10" class="bottonegoto" onclick="gotoficha('freecontainer',10,1,10);"></div>
  </div>
</div> 