<div class="navbar " id="unicontainer" seed="1">
  <div class="bottonemini right next" onclick="next('unicontainer',4);" id="unicontainernext"></div>
  <div class="bottonemini left prev" onclick="prev('unicontainer',1);"  id="unicontainerprev" style="visibility:hidden"></div>
  <div class="navigator">
    <div id="unicontainerbutton1" class="bottonegoto active" onclick="gotoficha('unicontainer',4,1,1);"></div>
    <div id="unicontainerbutton2" class="bottonegoto" onclick="gotoficha('unicontainer',4,1,2);"></div>
    <div id="unicontainerbutton3" class="bottonegoto" onclick="gotoficha('unicontainer',4,1,3);"></div>
    <div id="unicontainerbutton4" class="bottonegoto" onclick="gotoficha('unicontainer',4,1,4);"></div>
  </div>
</div>