<div class="navbar" id="workcontainer" seed="1">
  <div class="bottonemini right next" onclick="next('workcontainer',8);" id="workcontainernext"></div>
  <div class="bottonemini left prev" onclick="prev('workcontainer',1);" id="workcontainerprev" style="visibility:hidden;"></div>
  <div class="navigator">
    <div id="workcontainerbutton1" class="bottonegoto active" onclick="gotoficha('workcontainer',8,1,1);"></div>
    <div id="workcontainerbutton2" class="bottonegoto" onclick="gotoficha('workcontainer',8,1,2);"></div>
    <div id="workcontainerbutton3" class="bottonegoto" onclick="gotoficha('workcontainer',8,1,3);"></div>
    <div id="workcontainerbutton4" class="bottonegoto" onclick="gotoficha('workcontainer',8,1,4);"></div>
    <div id="workcontainerbutton5" class="bottonegoto" onclick="gotoficha('workcontainer',8,1,5);"></div>
    <div id="workcontainerbutton6" class="bottonegoto" onclick="gotoficha('workcontainer',8,1,6);"></div>
    <div id="workcontainerbutton7" class="bottonegoto" onclick="gotoficha('workcontainer',8,1,7);"></div>
    <div id="workcontainerbutton8" class="bottonegoto" onclick="gotoficha('workcontainer',8,1,8);"></div>
  </div>
</div>